* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.favorite {
  color: red;
  background-color: #ffc9c7a5;
}
